.oldCode {
  margin: 0 10px;
  float:left;
  text-align: left;
  width: 48%;
}

.container-list{
	width: 70%;
  display: inline-block;
  background-color: rgba(222, 222, 222, 0.65);
}

.container-favorite{
  position: absolute;
  display: inline-block;
  width: 30%;
}

.newCode {
  margin: 0 10px;
  display: inline-block;
  text-align: left;
  width: 48%;
}

.answers{
  list-style-type: none;
}

.answerSRP{
  margin: 4% 10%;
  text-align: left;
}

.questions{
  margin: 5% 0 0 0;
}

.back{
  font-size: 24px;
  color: white;
}
