.oldCode {
  margin: 0 10px;
  float:left;
  text-align: left;
  width: 48%;
}

.newCode {
  margin: 0 10px;
  display: inline-block;
  text-align: left;
  width: 48%;
}

.answers{
  list-style-type: none;
}

.answerSRP{
  margin: 4% 10%;
  text-align: left;
}

.questions{
  margin: 5% 0 0 0;
}

.back{
  font-size: 24px;
  color: white;
}

.test{
  margin: 50px 50px;
}
