.header {
	height: 100px;
	background-color: #212121;
}

.header__marvel-logo {
	margin: 10px;
	width: 40%;
}

.header__search-margin{
	margin-top: 25px;
}

.fav {
	margin-top: 25px;
}

.fav__Shield {
	width: 80%;
}

.fav__Text {
	font-size: 18px;
	color: #3c3c3c;
	margin-top: 10px;
	margin-left: 10px;
}

.fav__front {
	position: relative;
	width: 70%;
	height: 400px;
	margin: 10% 15% 40% 15%;
}

.fav__delete {
	position: absolute;
	cursor: pointer;
	right: -15px;
	top: 25px;
}

.fav__comic {
	position: relative;
	padding-top: 40px;
}

.fav__subTitle {
	padding-top: 10px;
	font-size: 9px;
}

.sub-header {
	height: 100px;
}

.sub-header__padding{
	padding-top: 25px;
}

.sub-header__character-logo {
	margin: 25px 0px 25px 30px;
}

.sub-header__character {
	font-size: 32px;
	font-weight: bold;
	color: black;
}

.box {
	background-color: rgba(242, 240, 240, 1);
	border-radius: 5px;
	margin: 2.5% 2.5%;
	min-height: 400px;
}

.box__circle {
	position: relative;
	overflow: hidden;
	top: -40px;
	left: -40px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.box__img {
	width: 80%;
	margin: -15px -40px;
	box-shadow: 3px 6px 20px;
}

.box__title {
	position: relative;
	top: -24px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.box__viewMore{
	margin: 0px 0px;
	padding: 5px 15px;
	border-radius: 0;
	background-color: rgb(226, 0, 0);
	border: none;
}

.box__viewMore:hover{
	background-color: rgb(186, 0, 0);
}

.box__list-padding{
	padding-top: 40px;
}

.box__comic-list{
	list-style: none;
	font-size: 12px;
	padding: 10px 0;
	min-height: 40px;
}



.box__description {
	font-size: 10px;
}

.box__related {
	font-size: 20px;
	font-weight: bold;
	color: #6b6b6b;
}

.box__related-comic-container {
	width: 40%;
	margin: 5% 0% 5% 8%;
	display: inline-block;
}

.footer {
	background: #59554b;
	height: 100px;
}

.footer__text {
	padding-top: 50px;
	font-size: 16px;
	color: white;
}

.footer__logo {
	padding-top: 25px;
}

.search {
	position: absolute;
	margin-top: 25px;
}

.search__input {
	text-indent: 3%;
	font-size: 16px;
	color: #c1c1c1;
	border-radius: 2px;
	border: none;
	height: 50px;
	width: 100%;
}

.search__icon {
	position: absolute;
	right: 20px;
	top: 5px;
}

.modal__favorite{
	height: 50px;
  background-color: rgb(68, 54, 54);
  font-size: 12px;
  font-weight: bold;
  color: red;
  text-align: center;
  line-height: 50px;
	text-transform: uppercase;
}

.modal__close{
	height: 50px;
  background-color: rgb(242, 240, 240);
  font-size: 16px;
  font-weight: bold;
  color: red;
  text-align: center;
  line-height: 50px;
	text-transform: uppercase;
}

.modal__title{
	font-size: 20px;
	font-weight: bold;
}

.modal__description{
	padding-top: 20px;
	font-size: 12px;
}
